<div class="clearfix">
  <h1 class="pull-left">Users</h1>
  <%= link_to 'New User', new_user_path, class: 'btn btn-primary pull-right' if admin? %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-2-buttons"></th>
      <th>Name</th>
      <th>Access</th>
    </tr>
  </thead>

  <tbody>
    <%= render(@users) || render('shared/index_no_records') %>
  </tbody>
</table>
