<div class="clearfix">
  <h1 class="pull-left">Marathons</h1>
  <%= link_to 'New Marathon', new_marathon_path, class: 'btn btn-primary pull-right' if admin? %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-2-buttons"></th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @marathons.each do |marathon| %>
      <tr>
        <td>
          <%= link_to marathon, class: 'btn btn-xs btn-default' do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
          <% if admin? %>
            <%= link_to marathon, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          <% end %>
        </td>
        <td><%= marathon.name %></td>
      </tr>
    <% end %>
    <% if @marathons.empty? %>
      <tr>
        <td colspan="2" class="text-center">No records found</td>
      </tr>
    <% end %>
  </tbody>
</table>
