@import "bootstrap-sprockets";
@import "bootstrap";

$a-tags: 'a, a:active, a:hover, a:visited';

h1 {
  margin-top: 0;
}

.container-max-size {
  max-width: 1000px;
}

.errors {
  margin-bottom: 10px;
  color: #b00000;
}

.navbar-brand {
    color: white!important;
}

.space-after-navbar {
  margin-bottom: 70px;
}

.col-2-buttons {
  width: 80px
}
