<% flash.each do |name, message| %>
  <% if %w(notice success).include?(name) %>
    <div class="col-xs-12 alert alert-success">
  <% elsif name == 'errors' %>
    <div class="col-xs-12 alert alert-danger">
  <% else %>
    <div class="col-xs-12 alert alter-warning">
  <% end %>

    <%= message %>
  </div>
<% end %>
